.ProjectPage {
  background: var(--page-background);
  padding: var(--page-padding);
}

.ProjectPage__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 1280px;
}

.ProjectPage__sectionTitle {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}

.ProjectPage__actionLogs__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 12px;
}

.ProjectPage__actionLogs .ActionLogsCompact__table .mantine-Accordion-item:last-child {
  border-bottom: none;
}
