.ProjectPage {
  padding: 60px;
}

.ProjectPage__headline {
  margin-bottom: 60px;
}

.ProjectPage__body {
  margin-top: 16px;
  max-width: 70ch;
}

.ProjectPage__section + .ProjectPage__section {
  margin-top: 80px;
}

.ProjectPage__section__title {
  margin-bottom: 20px;
}

.ProjectPage__section__title--flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ProjectPage__collectionTree {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 580px;
}

.ProjectPage__collectionTree .mantine-Accordion-control {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ProjectPage__collectionTree .CollectionTree__accordion__children {
  gap: 12px;
}

.ProjectPage__collectionTree .CollectionTree__collection {
  border: 2px solid black;
  border-radius: 8px;
}
