@use 'base';
@use 'grid';
@use 'tokens';
@use 'type';

@include base.styles();

:root {
  --font-family-default: #{tokens.$font-family-default};
  @include grid.vars();
}

@layer base {
  body {
    @include type.typescale-styles('p');
    color: tokens.$color-text-default;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  root-island {
    display: contents;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.root-counter-example {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
