@use 'base';
@use 'buttons';
@use 'grid';
@use 'tokens';
@use 'type';

@include base.styles($enable-site-max-width: false);

:root {
  --font-family-default: #{tokens.$font-family-default};
  --font-family-mono: #{tokens.$font-family-mono};
  @include grid.vars();
}

@layer base {
  body {
    @include type.typescale-styles('p');
    color: tokens.$color-text-default;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  root-island {
    display: contents;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.root-counter-example {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.root-counter-example {
  @include buttons.base-styles(
    $selectors: (
      'button': 'button',
    )
  );
  @include buttons.variant-styles(
    $variant: 'outline',
    $selectors: (
      'button': 'button',
    )
  );
}

.root-counter-example .value {
  font-family: var(--font-family-mono);
  font-size: 16px;
  line-height: 1.2;
}
