// Breakpoints.
$breakpoint-tablet: 500px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-site-max: 2200px;

$font-family-primary: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// Headline.
$font-family-headline: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-mono: Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-regular: $font-weight-normal;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-map: (
  'thin': $font-weight-thin,
  'extra-light': $font-weight-extra-light,
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'regular': $font-weight-regular,
  'medium': $font-weight-medium,
  'semi-bold': $font-weight-semi-bold,
  'bold': $font-weight-bold,
  'extra-bold': $font-weight-extra-bold,
  'black': $font-weight-black,
);

$color-text-default: #333333;

$content-max-width: 1152px;
$content-padding-mobile: 24px;
$content-padding-tablet: 40px;
$content-padding-laptop-gt: 64px;

$header-height: 72px;
$header-z-index: 1000;
