.VersionHistoryModal {
  margin-top: -30px;
  padding: 10px;
}

.VersionHistoryModal__title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.VersionHistoryModal__docId {
  margin-top: 20px;
}

.VersionHistoryModal__docId code {
  background: #efefef;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  color: #333;
}

.VersionHistoryModal__actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VersionHistoryModal__versions {
  margin-top: 20px;
}

.VersionHistoryModal__versionsEmpty {
  margin-top: 20px;
}

.VersionHistoryModal__versionsEmpty__developer {
  margin-top: 10px;
  font-style: italic;
  font-size: 12px;
}

.VersionHistoryModal__versions__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.VersionHistoryModal__message {
  white-space: pre-line;
  font-size: 12px;
  line-height: 1.5;
}

.VersionHistoryModal__messageIcon {
  vertical-align: middle;
}

.VersionHistoryModal__publishedLabel {
  margin-left: 4px;
  opacity: 0.5;
}

.VersionHistoryModal__versions__buttons__compare .mantine-Button-icon {
  margin-left: 4px;
}

.VersionHistoryModal__versions th:first-child {
  width: 40px;
}

.VersionHistoryModal__versions__selectLabel {
  opacity: 0;
  position: absolute;
}

.VersionHistoryModal__versions__checkbox {
  cursor: pointer;
}

.VersionHistoryModal__versions__modifiedAt {
  display: flex;
  align-items: center;
  gap: 4px;
}

.VersionHistoryModal__versions__modifiedAt__text {
  flex: 1;
}
