@use 'tokens';
@use 'type';

.sidebar {
  border-right: 1px solid tokens.$color-border;
  width: tokens.$nav-size;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebarMain {
  justify-content: space-between;
  padding: 10px;
  flex: 1;
}

.logoWrap {
  border-bottom: 1px solid tokens.$color-border;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 32px;
  height: 32px;
  background-color: thistle;
  border-radius: 4px;
}

.content {
  flex: 1;
}

.header {
  height: tokens.$nav-size;
  border-bottom: 1px solid tokens.$color-border;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.headerTitle {
  @include type.font(14px, 1, 'bold');
}
