.CollectionTree__collections {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.CollectionTree__collections__empty {
  padding: 8px 12px;
  font-size: 14px;
}

.CollectionTree__collection {
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  padding: 8px 12px;
  padding-left: 12px !important;
  column-gap: 12px;
  row-gap: 4px;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.18s ease;
  position: relative;
  border: 1px solid var(--color-border);
  background: var(--surface-background);
  border-radius: var(--surface-border-radius);
}

.CollectionTree__collection.active {
  background: #fff;
  border-color: #000;
}

.CollectionTree__collection:hover {
  background: var(--surface-background-hover);
}

.CollectionTree__collection:active {
  background: var(--surface-background-active);
  transform: translateY(2px);
}

.CollectionTree__collection__icon {
  margin-top: 2px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: var(--chip-background);
  border-radius: var(--surface-border-radius);
}

.CollectionTree__collection__icon svg:first-child {
  cursor: pointer;
  flex-shrink: 0;
  width: 16px;
}

.CollectionTree__collection__content {
  color: var(--color-text-default);
  display: flex;
  flex-direction: column;
}

.CollectionTree__collection__desc {
  color: var(--color-text-gray);
  grid-column: 2 / span 1;
  font-size: 12px;
}

/* Accordion styles */
.CollectionTree__accordion {
  margin-bottom: 0;
}

.CollectionTree__accordion .mantine-Accordion-item {
  border: none;
  border-bottom: none;
}

.CollectionTree__accordion .mantine-Accordion-control {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
}

.CollectionTree__accordion .mantine-Accordion-label {
  padding: 0;
}

.CollectionTree__accordion .mantine-Accordion-contentInner {
  padding: 0;
}

.CollectionTree__accordion .mantine-Accordion-icon {
  transform: rotate(-90deg);
  margin-right: 8px;
}

.CollectionTree__accordion [aria-expanded="true"] .mantine-Accordion-icon {
  transform: rotate(0deg) !important;
}

.CollectionTree__accordion__children {
  margin-bottom: 12px;
}

.CollectionTree__accordion:last-child .CollectionTree__accordion__children {
  margin-bottom: 0;
}

.CollectionTree__group__label,
.CollectionTree__collection__label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.CollectionTree__group__label span {
  color: #333;
}

.CollectionTree__group__label__dividerLine {
  height: 1px;
  background: var(--color-border);
  flex: 1;
  margin-left: 8px;
}

.CollectionTree__accordion__children {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.CollectionTree__group-empty {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.CollectionTree__group {
  display: grid;
  grid-template-columns: 16px 20px 1fr;
  align-items: center;
  padding: 8px 12px;
  column-gap: 8px;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.18s ease;
  position: relative;
}

.CollectionTree__group:hover {
  background-color: var(--surface-background-hover);
}

.CollectionTree__group:active {
  background-color: var(--surface-background-active);
}

.CollectionTree__group__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CollectionTree__group__icon-wrapper {
  display: flex;
  align-items: center;
}

.CollectionTree__group__name {
  color: #333;
}

.CollectionTree__collection-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  flex: 1;
}

.CollectionTree__collection-link:hover {
  text-decoration: underline;
}

.CollectionTree__collection.active .CollectionTree__collection__content {
  color: black;
}
