/* .CollectionPage {
  padding: 8px;
} */
.CollectionPage__side__title {
  padding: 8px 12px;
  /* border-bottom: 1px solid var(--color-border); */
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.CollectionPage__side__collections {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.CollectionPage__side__search input {
  display: block;
  width: 100%;
  border: 1px solid var(--color-border);
  border-left: none;
  border-right: none;
  border-radius: 0;
  line-height: 24px;
  padding: 4px 12px;
  font-family: inherit;
}

.CollectionPage__side__search input:focus {
  outline: none;
}

.CollectionPage__side__search input::-webkit-input-placeholder {
  color: #E5E5E5;
}

.CollectionPage__side__collection {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.18s ease;
  position: relative;
}

.CollectionPage__side__collection.active {
  color: black;
}

.CollectionPage__side__collection:hover {
  background-color: var(--button-background-hover);
}

.CollectionPage__side__collection:active {
  background-color: var(--button-background-active);
}

.CollectionPage__side__collection__arrow {
  position: absolute;
  top: calc(50% - 10px);
  right: 12px;
}

.CollectionPage__main__unselected {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  padding: 48px;
}

.CollectionPage__main__unselected__title {
  max-width: 400px;
  font-weight: 500;
}

.CollectionPage__collection__header {
  padding: 12px;
}

.CollectionPage__collection__header__title {
  font-size: 20px;
  font-weight: 700;
}

.CollectionPage__collection__header__description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;

}

.CollectionPage__collection__header__description a {
  font-weight: 700;
}

.CollectionPage__collection__header__description a:hover {
  color: black;
}

.CollectionPage__collection__tabs [role="tab"] {
  font-weight: 500;
}

.CollectionPage__collection__tabs [role="tab"][data-active] {
  border-color: lightblue;
}

.CollectionPage__collection__tabs [role="tablist"] {
  border-color: var(--color-border);
}

.CollectionPage__collection__docsTab {
  padding: 12px;
}

.CollectionPage__collection__docsTab__controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  font-size: 14px;
}

.CollectionPage__collection__docsTab__controls__sort {
  display: flex;
  gap: 8px;
  align-items: center;
}

.CollectionPage__collection__docsTab__controls__sort__label {
  font-weight: 600;
}

.CollectionPage__collection__docsList__doc {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.CollectionPage__collection__docsList__doc__content {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  flex: 1;
}

.CollectionPage__collection__docsList__doc__content__header__docId {
  font-size: 14px;
  font-weight: 500;
}

.CollectionPage__collection__docsList__doc__content__title {
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CollectionPage__collection__docsList__doc__content__url {
  font-size: 12px;
  font-weight: 500;
  color: #ababab;
}
