.CollectionPage {
  --side-width: 400px;
  background: var(--page-background);
}

.CollectionPage__layout {
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

.CollectionPage__side {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  width: var(--side-width);
  z-index: 10;
  padding-top: var(--page-padding);
  padding-left: var(--page-padding);
  padding-bottom: var(--page-padding);
}

.CollectionPage__side__title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 12px;
}

.CollectionPage__side__search input {
  display: block;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--surface-border-radius);
  line-height: 24px;
  padding: 4px 12px;
  font-family: inherit;
  margin-bottom: 8px;
}

.CollectionPage__side__search input:focus {
  outline: none;
}

.CollectionPage__side__search input::-webkit-input-placeholder {
  color: #E5E5E5;
}

.CollectionPage__main {
  padding-left: calc(var(--side-width) + var(--page-padding));
  padding-top: var(--page-padding);
  padding-right: var(--page-padding);
  max-height: calc(100vh - var(--header-height));
  overflow: auto;
}

.CollectionPage__collection__docsTab {
  padding: 0 0 120px;
}

.CollectionPage__collection__docsTab__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.CollectionPage__collection__docsTab__header__title {
  flex: 1;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.CollectionPage__collection__docsTab__controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  font-size: 14px;
}

.CollectionPage__collection__docsTab__controls__sort {
  display: flex;
  gap: 8px;
  align-items: center;
}

.CollectionPage__collection__docsTab__controls__showArchived .mantine-Switch-root {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
}

.CollectionPage__collection__docsTab__controls__showArchived .mantine-Switch-label {
  color: var(--color-text-default);
  font-weight: 500;
  margin-left: 0;
}

.CollectionPage__collection__docsTab__controls__sort__label {
  font-weight: 500;
}

.CollectionPage__collection__docsList__doc {
  display: flex;
  align-items: center;
  padding: 12px;
  overflow: hidden;
}

.CollectionPage__collection__docsList__doc + .CollectionPage__collection__docsList__doc {
  border-top: 1px solid var(--color-border);
}

.CollectionPage__collection__docsList__doc__content {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  flex: 1;
}

.CollectionPage__collection__docsTab__content__loading {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.CollectionPage__collection__docsList__doc__content__header {
  display: flex;
  align-items: center;
  gap: 12px;
}


.CollectionPage__collection__docsList__doc__content__header__docId {
  font-size: 14px;
  font-weight: 500;
}

.CollectionPage__collection__docsList__doc__image {
  border: 1px solid var(--color-border);
  flex-shrink: 0;
}

.CollectionPage__collection__docsList__doc__content__title {
  line-height: 36px;
  font-size: 24px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.CollectionPage__collection__docsList__doc__content__url {
  font-size: 12px;
  font-weight: 500;
  color: #ababab;
}

.CollectionPage__collection__docsEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin-top: 80px;
}

.CollectionPage__collection__docsEmpty__title {
  font-size: 14px;
  font-weight: 500;
}
