.hero {
  padding: 4rem 0 3rem;
}

.hero h1 {
  font-size: 4rem;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 60px;
}

.footer {
  height: 8rem;
}

@media (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 60px;
  }
}
