@use 'breakpoints';

.spacer {
  height: var(--spacer, 0);
  @include breakpoints.mobile {
    height: var(--spacer-mobile, var(--spacer, 0));
  }
  @include breakpoints.tablet {
    height: var(--spacer-tablet, var(--spacer, 0));
  }
  @include breakpoints.laptop-gt {
    height: var(--spacer-desktop, var(--spacer, 0));
  }
}
