.FileUploadField {
  border: 1px solid #ced4da;
  padding: 10px;
  position: relative;
}

.FileUploadField:has(.FileUploadField__Dropzone--dragging) {
  border: 1px solid #eebefa;
}

.FileUploadField:has(.FileUploadField__Canvas) {
  padding: 0;
}

.FileUploadField__Empty {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.FileUploadField__Preview {
  padding: 10px;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.FileUploadField__Preview:has(.FileUploadField__Canvas) {
  padding: 0;
}

.DocEditor__ImageField__imagePreview__Image__Alt {
  padding: 10px;
  padding-bottom: 0;
}

.DocEditor__ImageField__imagePreview__Image__Alt input {
  pointer-events: all;
}

.FileUploadField__Preview__Actions__Trash {
  pointer-events: all;
}

.FileUploadField__Canvas {
  aspect-ratio: 16 / 9;
  max-height: 280px;
  width: 100%;
  border-bottom: 1px solid #ced4da;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
                    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-size: 20px 20px; /* Adjust the size of the squares */
  background-position: 0 0, 10px 10px; /* Adjust the position to offset the second gradient */
  background-color: #fff; /* A solid color to serve as the second color of the checkerboard */

}

.FileUploadField__Preview__Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: all;
}

.FileUploadField__Preview__Actions {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.FileUploadField__Dropzone {
  appearance: none;
  border: 0;
  background: rgb(241, 243, 245);

  padding: 0;
  position: absolute;
  inset: 0;
}

.FileUploadField__Dropzone:focus {
  outline: 1px solid -webkit-focus-ring-color;
}

.FileUploadField__Dropzone--dragging {
  background-color: #f3d9fa;
}

.FileUploadField__Empty:focus {
  outline: 1px solid -webkit-focus-ring-color;
}

.FileUploadField__Empty__Label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.FileUploadField__FileUploadButton {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ced4da;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: 12px;
  gap: 8px;
  padding: 4px 10px;
  pointer-events: all;
  position: relative;
  z-index: 1;
}

.FileUploadField__FileUploadButton:hover {
  background-color: #efefef;
}

.FileUploadField__FileUploadButton__Input {
  appearance: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.FileUploadField__FileUploadButton__Title {
  font-weight: 600;
}

.FileUploadField__Empty__AcceptTypes {
  font-size: 10px;
  display: inline;
  position: relative;
  z-index: 1;
}

