.AIPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.AIPage__ChatWindow {
  flex: 1;
  overflow: auto;
  position: relative;
  z-index: 0;
  padding: 40px 20px;
}

.AIPage__ChatWindow__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  gap: 12px;
}

.AIPage__ChatWindow__welcome__icon {
  border: 1px solid var(--color-border);
  border-radius: 50%;
  padding: 6px;
}

.AIPage__ChatWindow__welcome__title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.AIPage__ChatWindow__messages {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: calc(100vh - 48px - 104px - 80px);
}

.AIPage__ChatMessage {
  display: grid;
  grid-template-columns: 28px 1fr;
  gap: 16px;
  scroll-margin-top: 40px;
}

.AIPage__ChatMessage__side__avatar svg {
  border: 1px solid var(--color-border);
  border-radius: 50%;
  padding: 2px;
}

.AIPage__ChatMessage__main {
  font-size: 16px;
  line-height: 1.5;
}

.AIPage__ChatMessage__main__username {
  font-weight: 700;
  line-height: 28px;
}

.AIPage__ChatMessage__main__blocks {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@keyframes ai-cursor-dot {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}

.AIPage__ChatMessageTextBlock span {
  margin-right: 8px;
  white-space: pre-wrap;
}

.AIPage__ChatMessageTextBlock a {
  font-weight: 600;
  text-underline-offset: 4px;
}

.AIPage__ChatMessageTextBlock p {
  white-space: pre;
  margin-top: 20px;
}

.AIPage__ChatMessageTextBlock p:first-child {
  margin-top: 0;
}

.AIPage__ChatMessageTextBlock li + li {
  margin-top: 10px;
}

.AIPage__ChatMessageTextBlock pre:has(code) {
  border-radius: 8px;
  border: 1px solid #DADCE0;
  background: #f8f9fa;
  font-family: var(--font-family-mono);
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 16px;
  height: 100%;
  white-space: pre-wrap;
  overflow: auto;
}

.AIPage__ImageMessageBlock img {
  display: block;
  max-width: 100%;
}

.AIPage__CursorDot {
  --dot-size: 12px;
  width: calc(var(--dot-size) + 8px);
  height: 24px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.AIPage__CursorDot::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 0.5 * var(--dot-size));
  top: calc(50% - 0.5 * var(--dot-size) - 1px);
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background: #333;
  animation: ai-cursor-dot 1s infinite;
}

.AIPage__ChatBar {
  flex-shrink: 0;
  padding: 0 20px 20px;
  background: #fff;
  position: relative;
  z-index: 10;
}

.AIPage__ChatBar::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.90) 100%);
  pointer-events: none;
}

.AIPage__ChatBar__prompt {
  --image-preview-size: 80px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.AIPage__ChatBar__prompt__textInput {
  display: block;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  padding: 12px 48px;
  border-radius: 24px;
  border: 1px solid #dedede;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: var(--font-family-default);
  transition: box-shadow 0.3s ease;
}

.AIPage__ChatBar__prompt--hasImage .AIPage__ChatBar__prompt__textInput {
  padding-bottom: calc(var(--image-preview-size) + 24px);
}

.AIPage__ChatBar__prompt__textInput:focus {
  border: 1px solid #ccc;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px;
}

.AIPage__ChatBar__prompt__imageUpload {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.AIPage__ChatBar__prompt__imageUpload__input {
  display: none;
}

.AIPage__ChatBar__prompt__imagePreview {
  width: var(--image-preview-size);
  height: var(--image-preview-size);
  padding: 4px;
  position: absolute;
  left: 48px;
  bottom: 12px;
  background: #efefef;
  border: 1px solid #dedede;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AIPage__ChatBar__prompt__imagePreview__closeButton {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.AIPage__ChatBar__prompt__imagePreview__closeButton__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  padding: 2px;
  transition: all 0.24s ease;
}

.AIPage__ChatBar__prompt__imagePreview__closeButton:hover .AIPage__ChatBar__prompt__imagePreview__closeButton__icon {
  opacity: 1;
}

.AIPage__ChatBar__prompt__imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.AIPage__ChatBar__prompt__submit {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.AIPage__ChatBar__disclaimer {
  margin-top: 16px;
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
  color: dimgray;
  text-wrap: balance;
}

.AIPage__notEnabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  gap: 12px;
}

.AIPage__notEnabled__icon {
  border: 1px solid var(--color-border);
  border-radius: 50%;
  padding: 6px;
}

.AIPage__notEnabled__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
