.DocumentPagePreviewBar {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  gap: 8px;
  align-items: center;
  height: 36px;
  padding: 0 12px;
}

.DocumentPagePreviewBar__devices,
.DocumentPagePreviewBar__buttons {
  display: flex;
  align-items: center;
  gap: 2px;
}

.DocumentPagePreviewBar__devices .mantine-Tooltip-root,
.DocumentPagePreviewBar__devices .mantine-ActionIcon-hover,
.DocumentPagePreviewBar__buttons .mantine-Tooltip-root,
.DocumentPagePreviewBar__buttons .mantine-ActionIcon-hover {
  display: flex;
}

.DocumentPagePreviewBar__device.active {
  background: #f5f5f5;
}

.DocumentPagePreviewBar__navbar {
  flex: 1;
  padding: 2px 24px;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.DocumentPagePreviewBar__navbar__url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DocumentPagePreviewBar__locales {
  flex-shrink: 0;
}

.DocumentPagePreviewBar__locales .mantine-Select-input {
  border: 1px solid var(--color-border);
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  min-height: 24px;
  max-width: 170px;
}
