.SplitPanel {
  display: flex;
  height: 100%;
}

.SplitPanel__divider {
  flex: 0 0 3px;
  width: 3px;
  background-color: var(--color-border);
  height: 100%;
  cursor: col-resize;
  transition: background-color 0.18s ease;
}

.SplitPanel__divider:hover {
  background-color: plum;
}

.SplitPanel__item.static {
  flex: 0 0 var(--panel-size, 100%);
}

.SplitPanel__item.fluid {
  flex: 1;
}

.SplitPanel.dragging .SplitPanel__item {
  pointer-events: none;
  user-select: none;
}
