.ReleasesPage {
  padding: 60px;
}

.ReleasesPage__header {
  margin-bottom: 40px;
}

.ReleasesPage p {
  margin-top: 8px;
  max-width: 70ch;
}

.ReleasesPage__header__buttons {
  margin-top: 20px;
}

.ReleasesPage__ReleasesTable {
  max-width: 1000px;
}

.ReleasesPage__ReleasesTable__publishStatus {
  display: flex;
  gap: 6px;
  align-items: center;
}

.ReleasesPage__ReleasesTable__publishStatus__icon {
  color: #12b886;
}

.ReleasesPage__ReleasesTable__filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
