.DocStatusBadges {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.DocStatusBadges .mantine-Tooltip-root {
  display: block;
}

.DocStatusBadges .mantine-Badge-root {
  display: flex;
}
