// https://mantine.dev/theming/extend-theme/#default-colors

$color-gray-0: #F8F9FA;
$color-gray-1: #F1F3F5;
$color-gray-2: #E9ECEF;
$color-gray-3: #DEE2E6;
$color-gray-4: #CED4DA;
$color-gray-5: #ADB5BD;
$color-gray-6: #868E96;
$color-gray-7: #495057;
$color-gray-8: #343A40;
$color-gray-9: #212529;
$color-white: #FFFFFF;

$color-border: $color-gray-2;

$nav-size: 48px;

// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-map: (
  "thin": $font-weight-thin,
  "extra-light": $font-weight-extra-light,
  "light": $font-weight-light,
  "normal": $font-weight-normal,
  "medium": $font-weight-medium,
  "semi-bold": $font-weight-semi-bold,
  "bold": $font-weight-bold,
  "extra-bold": $font-weight-extra-bold,
  "black": $font-weight-black,
);
