.DataSourceForm {
  font-size: 14px;
  max-width: 650px;
  position: relative;
}

.DataSourceForm__type {
  display: flex;
  gap: 8px;
  align-items: center;
}

.DataSourceForm__type__label {
  font-size: 14px;
  font-weight: 600;
}

.DataSourceForm__input {
  margin-top: 16px;
}

.DataSourceForm__input__example {
  font-size: 12px;
  margin-top: 12px;
}

.DataSourceForm__input__example code {
  background: #efefef;
  padding: 4px;
  margin-left: 4px;
  font-weight: 500;
}

.DataSourceForm__section {
  margin-top: 24px;
}

.DataSourceForm__section__label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.DataSourceForm__cron {
  margin-top: 12px;
}

.DataSourceForm__cron__row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 12px;
}

.DataSourceForm__cron__interval {
  width: 80px;
}

.DataSourceForm__cron__unit {
  width: 120px;
}

.DataSourceForm__submit {
  margin-top: 30px;
}

.DataSourceForm__error {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: red;
}
