.ReleasePage {
  padding: 60px;
  padding-top: 48px;
}

.ReleasePage__header {
  margin-bottom: 30px;
}

.ReleasePage__header__breadcrumbs {
  font-size: 12px;
  margin-bottom: 12px;
}

.ReleasePage__header__breadcrumbs a {
  font-weight: 500;
  text-underline-offset: 4px;
}

.ReleasePage__header__titleWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ReleasePage__header p {
  margin-top: 4px;
}

.ReleasePage__header__controls {
  display: flex;
  align-items: center;
}

.ReleasePage__header__controls .mantine-Tooltip-root {
  width: 28px;
  height: 28px;
}

.ReleasePage__header__controls a {
  display: flex;
}

.ReleasePage__PublishStatus {
  max-width: 500px;
}

.ReleasePage__PublishStatus h2 {
  margin-bottom: 20px;
}

.ReleasePage__PublishStatus__actions {
  display: flex;
  gap: 8px;
}

.ReleasePage__DocsList {
  margin-top: 40px;
  max-width: 800px;
}

.ReleasePage__DocsList__header {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.ReleasePage__DocsList__cards {
  border-bottom: 1px solid var(--color-border);
}

.ReleasePage__DocsList__card {
  border-top: 1px solid var(--color-border);
}

.ReleasePage__DocsList__card a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

.ReleasePage__DataSourcesList {
  margin-top: 40px;
  max-width: 800px;
}

.ReleasePage__DataSourcesList__header {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.ReleasePage__DataSourcesList__items {
  border-bottom: 1px solid var(--color-border);
}

.ReleasePage__DataSourcesList__item {
  border-top: 1px solid var(--color-border);
  padding: 4px 8px;
}

.ReleasePage__footer {
  margin-top: 40px;
}
