.AiEditModal__buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.AiEditModal__JsonInput .mantine-JsonInput-input {
  font-size: 0.875rem;
  line-height: 1.5;
}

.AiEditModal__SplitPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 680px;
  max-height: calc(100vh - 280px);
}

.AiEditModal__SplitPanel__JsonPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.AiEditModal__JsonEditor {
  height: 100%;
  width: 100%;
}

.AiEditModal__JsonInput,
.AiEditModal__JsonInput .mantine-JsonInput-wrapper,
.AiEditModal__JsonInput .mantine-JsonInput-input {
  height: 100%;
}

.AiEditModal__SplitPanel__ChatPanel {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.AiEditModal__Tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.AiEditModal__Tabs .mantine-Tabs-body {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  min-height: 0;
}

.AiEditModal__JsonDiffViewer {
  border-radius: 4px;
  border: 1px solid rgb(206, 212, 218);
  height: 100%;
  overflow: auto;
  width: 100%;
}

.AiEditModal__JsonDiffViewer .JsDiff__container {
  height: 100%;
}
