.AiEditModal__buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.AiEditModal__JsonInput,
.AiEditModal__JsonInput .mantine-JsonInput-wrapper,
.AiEditModal__JsonInput .mantine-JsonInput-input {
  height: 100%;
}

.AiEditModal__JsonInput .mantine-JsonInput-input {
  font-size: 0.875rem;
  line-height: 1.5;
}

.AiEditModal__SplitPanel {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}

.AiEditModal__JsonEditor {
  height: 100%;
  overflow: auto;
}

.AiEditModal__SplitPanel__ChatPanel {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: calc(max(100vh - 300px, 400px));
}

.AiEditModal__Tabs,
.AiEditModal__Tabs .mantine-Tabs-root, 
.AiEditModal__Tabs .mantine-Tabs-body {
  height: 100%;
}

.AiEditModal__JsonDiffViewer {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  height: 100%;
  max-height: calc(max(100vh - 300px, 400px));
  overflow: auto;
}

.AiEditModal__JsonDiffViewer .JsDiff__container {
  height: 100%;
}
