// Breakpoints.
$breakpoint-tablet: 500px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-site-max: 1800px;

$grid-mobile-num-columns: 4;
$grid-mobile-column-gap: 24px;
$grid-mobile-padding: 16px;
$grid-mobile-max-width: 500px;
$grid-tablet-num-columns: 6;
$grid-tablet-column-gap: 24px;
$grid-tablet-padding: 48px;
$grid-tablet-max-width: 1024px;
$grid-laptop-num-columns: 12;
$grid-laptop-column-gap: 36px;
$grid-laptop-padding: 72px;
$grid-laptop-max-width: 1296px;
$grid-desktop-num-columns: 12;
$grid-desktop-column-gap: 36px;
$grid-desktop-padding: 72px;
$grid-desktop-max-width: 1296px;

$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-mono: Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-regular: $font-weight-normal;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-map: (
  'thin': $font-weight-thin,
  'extra-light': $font-weight-extra-light,
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'regular': $font-weight-regular,
  'medium': $font-weight-medium,
  'semi-bold': $font-weight-semi-bold,
  'bold': $font-weight-bold,
  'extra-bold': $font-weight-extra-bold,
  'black': $font-weight-black,
);

$color-black: #000000;
$color-white: #FFFFFF;
$color-text-default: #333333;
