.SignInButton {
  background: steelblue;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}
