.ShareBox {
  position: relative;
  max-width: 420px;
  min-height: 120px;
}

.ShareBox__addUser,
.ShareBox__user {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  gap: 8px;
}

.ShareBox__addUser__email {
  width: 100%;
}

.ShareBox__users {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  max-height: 500px;
  overflow: auto;
  padding: 20px;
  border: 1px solid var(--color-border);
}

.ShareBox__user__email {
  overflow: hidden;
  text-overflow: ellipsis;
}
