.text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-default);
}

.text.size\:body-sm {
  font-size: 12px;
}
.text.size\:body {
  font-size: 14px;
}
.text.size\:body-lg {
  font-size: 16px;
}

.text.weight\:regular {
  font-weight: 400;
}
.text.weight\:semi-bold {
  font-weight: 500;
}
.text.weight\:bold {
  font-weight: 700;
}

.text.color\:gray {
  color: var(--color-text-gray);
}
.text.color\:dark {
  color: var(--color-text-dark);
}

.text code {
  background: #efefef;
  padding: 4px 8px;
  border-radius: 2px;
  white-space: nowrap;
  font-family: var(--font-family-mono);
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}
