@use 'breakpoints';
@use 'tokens';

@layer component {
  .footer {
    border-top: 1px solid tokens.$color-grey-300;
    background: tokens.$color-grey-100;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
