.DocEditor {
  font-size: 12px;
  position: relative;
}

.DocEditor__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.DocEditor__statusBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 48px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.DocEditor__statusBar__saveState {
  font-style: italic;
  font-weight: 500;
}

.DocEditor__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DocEditor__field__name {
  font-weight: 600;
}

.DocEditor__ObjectField__fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.DocEditor__field__header {
  margin-bottom: 8px;
}

.DocEditor__field[data-type="object"][data-level="0"] > .DocEditor__field__header {
  padding: 4px 12px;
  margin-top: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.DocEditor__field[data-type="object"]:not([data-level="0"]) .DocEditor__ObjectField__fields {
  padding-left: 12px;
  border-left: 2px solid lightblue;
}

.DocEditor__ArrayField__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.DocEditor__ArrayField__item__header {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.DocEditor__ArrayField__item__header__icon {
  flex-shrink: 0;
  margin-right: 8px;
  transform: rotate(90deg);
}

.DocEditor__ArrayField__item[open] .DocEditor__ArrayField__item__header__icon {
  transform: rotate(180deg);
  margin-top: -2px;
}

.DocEditor__ArrayField__item__header__preview {
  font-family: var(--font-family-mono);
  font-weight: 500;
  flex: 1;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DocEditor__ArrayField__item__header__controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.DocEditor__ArrayField__item__header__controls__arrows {
  display: flex;
  gap: 8px;
}

.DocEditor__ArrayField__item__header__controls__arrow {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: transform 0.18s ease;
}

.DocEditor__ArrayField__item__header__controls__arrow:active {
  transform: translateY(2px);
}

.DocEditor__ArrayField__item__header__controls__dots {
  color: black;
}

.DocEditor__ArrayField__items__empty {
  font-family: var(--font-family-mono);
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"] {
  padding: 8px 12px;
  font-size: 14px;

}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"]:hover {
  background-color: var(--button-background-hover);
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"]:active {
  background-color: var(--button-background-active);
}

.DocEditor__ArrayField__item:not([open]) .DocEditor__ArrayField__item__header {
  border-left: 2px solid lightblue;
  padding-left: 8px;
}

.DocEditor__ArrayField__item[open] .DocEditor__ArrayField__item__body {
  padding: 8px;
  border: 2px solid lightblue;
}

.DocEditor__ArrayField__add {
  margin-top: 16px;
}

.DocEditor__OneOfField__select {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.DocEditor__OneOfField__select__label {
  font-weight: 600;
}

.DocEditor__OneOfField__fields {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
