.DocEditor {
  font-size: 12px;
  position: relative;
}

.DocEditor__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.DocEditor__statusBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 48px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.DocEditor__statusBar__saveState {
  font-style: italic;
  font-weight: 500;
}

.DocEditor__statusBar__saveState,
.DocEditor__statusBar__statusBadges {
  margin-right: 16px;
}

.DocEditor__statusBar__i18n {
  margin-right: 8px;
}

.DocEditor__statusBar__actionsMenu {
  margin-left: 4px;
}

.DocEditor__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DocEditor__field--deprecated {
  opacity: 0.5;
}

.DocEditor__field.deeplink-target {
  padding: 16px;
  background: linear-gradient(rgb(255, 248, 197), rgb(255, 248, 197));
  border: 1px solid rgba(212, 167, 44, 0.4);
  border-radius: 4px;
}

.DocEditor__FieldHeader {
  position: relative;
  padding-right: 30px;
}

.DocEditor__FieldHeader__label {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  gap: 8px;
}

.DocEditor__FieldHeader__label__deeplink {
  color: #CED4DA;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.DocEditor__FieldHeader__label:focus-within .DocEditor__FieldHeader__label__deeplink,
.DocEditor__FieldHeader__label:hover .DocEditor__FieldHeader__label__deeplink {
  opacity: 1;
}

.DocEditor__FieldHeader__label__deeplink:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.DocEditor__FieldHeader__help {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

.DocEditor__FieldHeader__translate {
  position: absolute;
  top: 0;
  right: 0;
}

.DocEditor__FieldHeader__translate__iconDisabled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  pointer-events: none;
  opacity: 0.2;
}

.DocEditor__ObjectField__fields,
.DocEditor__ObjectFieldDrawer__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DocEditor__FieldHeader {
  margin-bottom: 8px;
}

.DocEditor__field[data-type="object"][data-level="0"] > .DocEditor__FieldHeader {
  padding: 4px 12px;
  margin-top: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.DocEditor__field[data-type="object"]:not([data-level="0"]) .DocEditor__ObjectField__fields {
  padding-left: 12px;
  border-left: 2px solid lightblue;
}

.DocEditor__ObjectFieldDrawer .mantine-Accordion-label > .DocEditor__FieldHeader {
  margin-bottom: 0;
}

.DocEditor__ObjectFieldDrawer {
  margin-left: -16px;
  margin-right: -16px;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle {
  display: flex;
  padding: 8px 16px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle:hover {
  background: #F8F9FA;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle__header {
  margin-bottom: 0;
}

.DocEditor__ObjectFieldDrawer__drawer__content {
  padding: 16px;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle__icon {
  transition: transform 0.3s ease;
}

.DocEditor__ObjectFieldDrawer__drawer[open] > summary > .DocEditor__ObjectFieldDrawer__drawer__toggle__icon {
  transform: rotate(-180deg);
}

.DocEditor__ObjectFieldDrawer--inline .DocEditor__ObjectFieldDrawer__drawer__toggle {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
  border-top: none;
  border-bottom: none;
}

.DocEditor__ObjectFieldDrawer--inline .DocEditor__ObjectFieldDrawer__drawer__content {
  padding-left: 48px;
}

.DocEditor__ArrayField__item__wrapper {
  display: flex;
  flex-direction: row;
  gap: 2px;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
  transition: box-shadow 0.36s ease, background-color 0.36s ease, border 0.36s ease;
}

.DocEditor__ArrayField__item__wrapper:has(> .DocEditor__ArrayField__item[open]) > .DocEditor__ArrayField__item__handle {
  /** Suppress the drag handle when the item is open. */
  visibility: hidden;
}

.DocEditor__ArrayField__item__wrapper--dragging {
  background-color: #f8f9fa;
  border: 1px solid #dedede;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 10px 15px -5px, rgba(0, 0, 0, 0.04) 0 7px 7px -5px;
}

.DocEditor__ArrayField__item__wrapper--dragging .DocEditor__ArrayField__item__header {
  outline: none !important;
}

.DocEditor__ArrayField__item {
  flex: 1;
  width: 100%;
}

.DocEditor__ArrayField__item__handle {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.DocEditor__ArrayField__item__header {
  align-items: center;
  background: white;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: sticky;
  top: var(--top-bar-height);
  user-select: none;
  z-index: 9;
  width: 100%;
}

.DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField__item__header {
  top: calc(var(--top-bar-height) + 30px);
  z-index: 8;
}

.DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField__item__header {
  top: calc(var(--top-bar-height) + 60px);
  z-index: 7;
}

.DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField__item__header {
  top: calc(var(--top-bar-height) + 90px);
  z-index: 6;
}

/** Nested array fields more than three levels deep don't get the sticky behavior. */
.DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField .DocEditor__ArrayField  .DocEditor__ArrayField  .DocEditor__ArrayField .DocEditor__ArrayField__item__header {
  border-bottom: unset;
  position: static;
}

.DocEditor__ArrayField__item[open] > .DocEditor__ArrayField__item__header {
  border-bottom: 2px solid lightblue;
  border-radius: 0;
}

.DocEditor__ArrayField__item[open] > .DocEditor__ArrayField__item__header + .DocEditor__ArrayField__item__body {
  border-top: 0;
}

.DocEditor__ArrayField__item__header__icon {
  flex-shrink: 0;
  margin-right: 8px;
  transform: rotate(90deg);
}

.DocEditor__ArrayField__item[open] > summary > .DocEditor__ArrayField__item__header__icon {
  transform: rotate(180deg);
  margin-top: -2px;
}

.DocEditor__ArrayField__item__header__preview {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1em; /** Facilitates truncating the text preview. */
}

.DocEditor__ArrayField__item__header__preview__image {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.DocEditor__ArrayField__item__header__preview__image__img {
  height: auto;
  width: 100%;
}

.DocEditor__ArrayField__item__header__preview__title {
  font-family: var(--font-family-mono);
  font-weight: 500;
  flex: 1;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DocEditor__ArrayField__item__header__controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.DocEditor__ArrayField__item__header__controls__arrows {
  display: flex;
  gap: 8px;
}

.DocEditor__ArrayField__item__header__controls__arrow {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: transform 0.18s ease;
}

.DocEditor__ArrayField__item__header__controls__arrow:active {
  transform: translateY(2px);
}

.DocEditor__ArrayField__item__header__controls__dots {
  color: black;
}

.DocEditor__ArrayField__items__empty {
  font-family: var(--font-family-mono);
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"] {
  padding: 8px 12px;
  font-size: 14px;
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"]:hover {
  background-color: var(--button-background-hover);
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"]:active {
  background-color: var(--button-background-active);
}

.DocEditor__ArrayField__item__header__controls__menu__item {
  padding: 6px 10px;
}

.DocEditor__ArrayField__item__header__controls__menu__item .mantine-Menu-itemLabel {
  font-size: 12px;
}

.DocEditor__ArrayField__item:not([open]) .DocEditor__ArrayField__item__header {
  border-left: 2px solid lightblue;
  padding-left: 8px;
}

.DocEditor__ArrayField__item[open] .DocEditor__ArrayField__item__body {
  padding: 16px;
  border: 2px solid lightblue;
}

.DocEditor__ArrayField__item__header:focus {
  outline: none;
}

.DocEditor__ArrayField__item[open] .DocEditor__ArrayField__item__header:focus  {
  padding-left: 10px;
}

.DocEditor__ArrayField__item__header:focus  {
  background-color: #f8f9fa;
  border-radius: 2px;
}

.DocEditor__ArrayField__add {
  margin-top: 16px;
}

.DocEditor__OneOfField__select {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.DocEditor__OneOfField__select__label {
  font-weight: 600;
}

.DocEditor__OneOfField__fields {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.DocEditor__DateTimeField input {
  display: block;
  width: 100%;
  border: 1px solid #dedede;
  padding: 6px 8px;
  font-family: inherit;
  font-size: 12px;
}

.DocEditor__DateField input {
  display: block;
  width: 100%;
  border: 1px solid #dedede;
  padding: 6px 8px;
  font-family: inherit;
  font-size: 12px;
}

.DocEditor__DateTimeField__timezone {
  font-size: 10px;
  font-weight: 400;
  margin-top: 4px;
  text-align: right;
}
