.DocEditor {
  font-size: 12px;
  position: relative;
}

.DocEditor__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.DocEditor__statusBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 48px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.DocEditor__statusBar__saveState {
  font-style: italic;
  font-weight: 500;
}

.DocEditor__statusBar__saveState,
.DocEditor__statusBar__statusBadges {
  margin-right: 16px;
}

.DocEditor__statusBar__i18n {
  margin-right: 8px;
}

.DocEditor__statusBar__actionsMenu {
  margin-left: 4px;
}

.DocEditor__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DocEditor__field--deprecated {
  opacity: 0.5;
}

.DocEditor__field.deeplink-target {
  padding: 16px;
  background: linear-gradient(rgb(255, 248, 197), rgb(255, 248, 197));
  border: 1px solid rgba(212, 167, 44, 0.4);
  border-radius: 4px;
}

.DocEditor__FieldHeader {
  position: relative;
  padding-right: 30px;
}

.DocEditor__FieldHeader__label {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  gap: 8px;
}

.DocEditor__FieldHeader__label__deeplink {
  color: #CED4DA;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.DocEditor__FieldHeader__label:hover .DocEditor__FieldHeader__label__deeplink {
  opacity: 1;
}

.DocEditor__FieldHeader__label__deeplink:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.DocEditor__FieldHeader__help {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

.DocEditor__FieldHeader__translate {
  position: absolute;
  top: 0;
  right: 0;
}

.DocEditor__FieldHeader__translate__iconDisabled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  pointer-events: none;
  opacity: 0.2;
}

.DocEditor__ObjectField__fields,
.DocEditor__ObjectFieldDrawer__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DocEditor__FieldHeader {
  margin-bottom: 8px;
}

.DocEditor__field[data-type="object"][data-level="0"] > .DocEditor__FieldHeader {
  padding: 4px 12px;
  margin-top: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.DocEditor__field[data-type="object"]:not([data-level="0"]) .DocEditor__ObjectField__fields {
  padding-left: 12px;
  border-left: 2px solid lightblue;
}

.DocEditor__ObjectFieldDrawer .mantine-Accordion-label > .DocEditor__FieldHeader {
  margin-bottom: 0;
}

.DocEditor__ObjectFieldDrawer {
  margin-left: -16px;
  margin-right: -16px;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle {
  display: flex;
  padding: 8px 16px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle:hover {
  background: #F8F9FA;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle__header {
  margin-bottom: 0;
}

.DocEditor__ObjectFieldDrawer__drawer__content {
  padding: 16px;
}

.DocEditor__ObjectFieldDrawer__drawer__toggle__icon {
  transition: transform 0.3s ease;
}

.DocEditor__ObjectFieldDrawer__drawer[open] > summary > .DocEditor__ObjectFieldDrawer__drawer__toggle__icon {
  transform: rotate(-180deg);
}

.DocEditor__ObjectFieldDrawer--inline .DocEditor__ObjectFieldDrawer__drawer__toggle {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
  border-top: none;
  border-bottom: none;
}

.DocEditor__ObjectFieldDrawer--inline .DocEditor__ObjectFieldDrawer__drawer__content {
  padding-left: 48px;
}

.DocEditor__ArrayField__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.DocEditor__ArrayField__item__header {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.DocEditor__ArrayField__item__header__icon {
  flex-shrink: 0;
  margin-right: 8px;
  transform: rotate(90deg);
}

.DocEditor__ArrayField__item[open] > summary > .DocEditor__ArrayField__item__header__icon {
  transform: rotate(180deg);
  margin-top: -2px;
}

.DocEditor__ArrayField__item__header__preview {
  font-family: var(--font-family-mono);
  font-weight: 500;
  flex: 1;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DocEditor__ArrayField__item__header__controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.DocEditor__ArrayField__item__header__controls__arrows {
  display: flex;
  gap: 8px;
}

.DocEditor__ArrayField__item__header__controls__arrow {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: transform 0.18s ease;
}

.DocEditor__ArrayField__item__header__controls__arrow:active {
  transform: translateY(2px);
}

.DocEditor__ArrayField__item__header__controls__dots {
  color: black;
}

.DocEditor__ArrayField__items__empty {
  font-family: var(--font-family-mono);
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"] {
  padding: 8px 12px;
  font-size: 14px;

}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"]:hover {
  background-color: var(--button-background-hover);
}

.DocEditor__ArrayField__item__header__controls__menu [role="menuitem"]:active {
  background-color: var(--button-background-active);
}

.DocEditor__ArrayField__item:not([open]) .DocEditor__ArrayField__item__header {
  border-left: 2px solid lightblue;
  padding-left: 8px;
}

.DocEditor__ArrayField__item[open] .DocEditor__ArrayField__item__body {
  padding: 16px;
  border: 2px solid lightblue;
}

.DocEditor__ArrayField__item__header:focus:not(:focus-visible) .DocEditor__ArrayField__item__header__preview {
  text-decoration: underline;
}

.DocEditor__ArrayField__item__header:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.DocEditor__ArrayField__add {
  margin-top: 16px;
}

.DocEditor__OneOfField__select {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.DocEditor__OneOfField__select__label {
  font-weight: 600;
}

.DocEditor__OneOfField__fields {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.DocEditor__ImageField {
  /* Use negative margins to increase the drag/drop zone. */
  padding: 10px;
  margin: -10px;
}

.DocEditor__ImageField.dragging {
  outline: 2px dashed black;
}

.DocEditor__ImageField__imagePreview {
  margin-bottom: 10px;
}

.DocEditor__ImageField__imagePreview__controls {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.DocEditor__ImageField__imagePreview__image {
  background: #f5f5f5;
  border: 1px solid #dedede;
  aspect-ratio: 16/9;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.DocEditor__ImageField__imagePreview__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.DocEditor__ImageField__imagePreview__dimens {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 4px 8px;
  background: black;
  color: white;
  font-size: 8px;
  font-weight: 700;
}

.DocEditor__ImageField__imagePreview__image__alt {
  margin-top: 4px;
}

.DocEditor__ImageField__noImage {
  font-family: var(--font-family-mono);
  margin-bottom: 10px;
}

.DocEditor__ImageField__uploadButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: #25262b;
  border-radius: 4px;
  padding: 0 14px;
  height: 30px;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.DocEditor__ImageField__uploadButton[aria-disabled="true"] {
  opacity: 0.5;
}

.DocEditor__ImageField__uploadButton input[type="file"] {
  display: none;
}

.DocEditor__ImageField__uploadButton__icon {
  margin-right: 10px;
}

.DocEditor__FileField {
  /* Use negative margins to increase the drag/drop zone. */
  padding: 10px;
  margin: -10px;
}

.DocEditor__FileField.dragging {
  outline: 2px dashed black;
}

.DocEditor__FileField__controls {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.DocEditor__FileField__file {
  margin-bottom: 10px;
}

.DocEditor__FileField__noFile {
  font-family: var(--font-family-mono);
  margin-bottom: 10px;
}

.DocEditor__FileField__uploadButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background: #25262b;
  border-radius: 4px;
  padding: 0 14px;
  height: 30px;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.DocEditor__FileField__uploadButton[aria-disabled="true"] {
  opacity: 0.5;
}

.DocEditor__FileField__uploadButton input[type="file"] {
  display: none;
}

.DocEditor__FileField__uploadButton__icon {
  margin-right: 10px;
}

.DocEditor__FileField__VideoPreview {
  position: relative;
  border: 1px solid #dedede;
  margin-bottom: 10px;
}

.DocEditor__FileField__VideoPreview__video {
  aspect-ratio: var(--video-aspect-ratio, auto);
  object-fit: contain;
}

.DocEditor__FileField__VideoPreview__dimens {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 4px 8px;
  background: black;
  color: white;
  font-size: 8px;
  font-weight: 700;
}

.DocEditor__DateTimeField input {
  display: block;
  width: 100%;
  border: 1px solid #dedede;
  padding: 6px 8px;
  font-family: inherit;
  font-size: 12px;
}

.DocEditor__DateTimeField__timezone {
  font-size: 10px;
  font-weight: 400;
  margin-top: 4px;
  text-align: right;
}
