.container {
  --container-max-width: 600px;
  --container-min-padding: 20px;
  padding-left: max(var(--container-min-padding), 50vw - 0.5 * var(--container-max-width));
  padding-right: max(var(--container-min-padding), 50vw - 0.5 * var(--container-max-width));
}

@media (min-width: 1024px) {
  .container {
    --container-max-width: 1280px;
    --container-min-padding: 40px;
  }
}
