
.LexicalTheme__ltr {
  text-align: left;
}
.LexicalTheme__rtl {
  text-align: right;
}
.LexicalTheme__paragraph {
  position: relative;
  margin: 0;
  margin-top: 8px;
}
.LexicalTheme__paragraph:first-child {
  margin-top: 0;
}
.LexicalTheme__quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}
.LexicalTheme__h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.LexicalTheme__h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.LexicalTheme__h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.LexicalTheme__h1,
.LexicalTheme__h2,
.LexicalTheme__h3 {
  margin-top: 8px;
}
.LexicalTheme__h1:first-child,
.LexicalTheme__h2:first-child,
.LexicalTheme__h3:first-child {
  margin-top: 0;
}
.LexicalTheme__indent {
  /* --lexical-indent-base-value: 40px; */
  padding-inline-start: 0 !important;
}
.LexicalTheme__textBold {
  font-weight: bold;
}
.LexicalTheme__paragraph mark {
  background-color: unset;
}
.LexicalTheme__textHighlight {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
}
.LexicalTheme__textItalic {
  font-style: italic;
}
.LexicalTheme__textUnderline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.LexicalTheme__textStrikethrough {
  text-decoration: line-through;
}

.LexicalTheme__textUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.LexicalTheme__tabNode {
  position: relative;
  text-decoration: none;
}

.LexicalTheme__tabNode.LexicalTheme__textUnderline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.15em;
  border-bottom: 0.1em solid currentColor;
}

.LexicalTheme__tabNode.LexicalTheme__textStrikethrough::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.LexicalTheme__tabNode.LexicalTheme__textUnderlineStrikethrough::before,
.LexicalTheme__tabNode.LexicalTheme__textUnderlineStrikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.LexicalTheme__tabNode.LexicalTheme__textUnderlineStrikethrough::before {
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.LexicalTheme__tabNode.LexicalTheme__textUnderlineStrikethrough::after {
  bottom: 0.05em;
  border-bottom: 0.1em solid currentColor;
}

.LexicalTheme__textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.LexicalTheme__textSuperscript {
  font-size: 0.8em;
  vertical-align: middle;
}
.LexicalTheme__textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.LexicalTheme__textLowercase {
  text-transform: lowercase;
}
.LexicalTheme__textUppercase {
  text-transform: uppercase;
}
.LexicalTheme__textCapitalize {
  text-transform: capitalize;
}
.LexicalTheme__hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.LexicalTheme__link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}
.LexicalTheme__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.LexicalTheme__blockCursor {
  display: block;
  pointer-events: none;
  position: absolute;
}
.LexicalTheme__blockCursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}
@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}
.LexicalTheme__code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}
.LexicalTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.LexicalTheme__tableScrollableWrapper {
  overflow-x: auto;
  margin: 0px 25px 30px 0px;
}
.LexicalTheme__tableScrollableWrapper > .LexicalTheme__table {
  /* Remove the table's vertical margin and put it on the wrapper */
  margin-top: 0;
  margin-bottom: 0;
}
.LexicalTheme__tableAlignmentCenter {
  margin-left: auto;
  margin-right: auto;
}
.LexicalTheme__tableAlignmentRight {
  margin-left: auto;
}
.LexicalTheme__table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 30px;
}
.LexicalTheme__tableScrollableWrapper.LexicalTheme__tableFrozenRow {
  /* position:sticky needs overflow:clip or visible
     https://github.com/w3c/csswg-drafts/issues/865#issuecomment-350585274 */
  overflow-x: clip;
}
.LexicalTheme__tableFrozenRow tr:nth-of-type(1) > td {
  overflow: clip;
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.LexicalTheme__tableFrozenRow tr:nth-of-type(1) > th {
  overflow: clip;
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  top: 44px;
}
.LexicalTheme__tableFrozenRow tr:nth-of-type(1) > th:after,
.LexicalTheme__tableFrozenRow tr:nth-of-type(1) > td:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.LexicalTheme__tableFrozenColumn tr > td:first-child {
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  left: 0;
}
.LexicalTheme__tableFrozenColumn tr > th:first-child {
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  left: 0;
}
.LexicalTheme__tableFrozenColumn tr > :first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #bbb;
}
.LexicalTheme__tableRowStriping tr:nth-child(even) {
  background-color: #f2f5fb;
}
.LexicalTheme__tableSelection *::selection {
  background-color: transparent;
}
.LexicalTheme__tableSelected {
  outline: 2px solid rgb(60, 132, 244);
}
.LexicalTheme__tableCell {
  border: 1px solid #bbb;
  width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 6px 8px;
  position: relative;
  outline: none;
  overflow: auto;
}
/*
  A firefox workaround to allow scrolling of overflowing table cell
  ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1904159
*/
.LexicalTheme__tableCell > * {
  overflow: inherit;
}
.LexicalTheme__tableCellResizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}
.LexicalTheme__tableCellHeader {
  background-color: #f2f3f5;
  text-align: start;
}
.LexicalTheme__tableCellSelected {
  caret-color: transparent;
}
.LexicalTheme__tableCellSelected::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: highlight;
  mix-blend-mode: multiply;
  content: '';
  pointer-events: none;
}
.LexicalTheme__tableAddColumns {
  position: absolute;
  background-color: #eee;
  height: 100%;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.LexicalTheme__tableAddColumns:after {
  /* background-image: url(../images/icons/plus.svg); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.LexicalTheme__tableAddColumns:hover,
.LexicalTheme__tableAddRows:hover {
  background-color: #c9dbf0;
}
.LexicalTheme__tableAddRows {
  position: absolute;
  width: calc(100% - 25px);
  background-color: #eee;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.LexicalTheme__tableAddRows:after {
  /* background-image: url(../images/icons/plus.svg); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.LexicalTheme__tableCellResizeRuler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: rgb(60, 132, 244);
  height: 100%;
  top: 0;
}
.LexicalTheme__tableCellActionButtonContainer {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}
.LexicalTheme__tableCellActionButton {
  background-color: #eee;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: #222;
  cursor: pointer;
}
.LexicalTheme__tableCellActionButton:hover {
  background-color: #ddd;
}
.LexicalTheme__characterLimit {
  display: inline;
  background-color: #ffbbbb !important;
}
.LexicalTheme__ol1 {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.LexicalTheme__ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.LexicalTheme__ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.LexicalTheme__ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.LexicalTheme__ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}
.LexicalTheme__ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.LexicalTheme__ol,
.LexicalTheme__ul {
  margin-top: 8px;
}
.LexicalTheme__listItem .LexicalTheme__ol ,
.LexicalTheme__listItem .LexicalTheme__ul {
  margin-top: 0;
}
.LexicalTheme__listItem {
  margin: 4px 20px;
}
.LexicalTheme__listItem::marker {
  color: var(--listitem-marker-color);
  background-color: var(--listitem-marker-background-color);
  font-family: var(--listitem-marker-font-family);
  font-size: var(--listitem-marker-font-size);
}
.LexicalTheme__listItemChecked,
.LexicalTheme__listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.LexicalTheme__listItemChecked {
  text-decoration: line-through;
}
.LexicalTheme__listItemUnchecked:before,
.LexicalTheme__listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.LexicalTheme__listItemUnchecked[dir='rtl']:before,
.LexicalTheme__listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.LexicalTheme__listItemUnchecked:focus:before,
.LexicalTheme__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.LexicalTheme__listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.LexicalTheme__listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}
.LexicalTheme__listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.LexicalTheme__nestedListItem {
  list-style-type: none;
}
.LexicalTheme__nestedListItem:before,
.LexicalTheme__nestedListItem:after {
  display: none;
}
.LexicalTheme__tokenComment {
  color: slategray;
}
.LexicalTheme__tokenPunctuation {
  color: #999;
}
.LexicalTheme__tokenProperty {
  color: #905;
}
.LexicalTheme__tokenSelector {
  color: #690;
}
.LexicalTheme__tokenOperator {
  color: #9a6e3a;
}
.LexicalTheme__tokenAttr {
  color: #07a;
}
.LexicalTheme__tokenVariable {
  color: #e90;
}
.LexicalTheme__tokenFunction {
  color: #dd4a68;
}
.LexicalTheme__mark {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}
.LexicalTheme__markOverlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.LexicalTheme__mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}
.LexicalTheme__markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.LexicalTheme__embedBlock {
  user-select: none;
}
.LexicalTheme__embedBlockFocus {
  outline: 2px solid rgb(60, 132, 244);
}
.LexicalTheme__layoutContainer {
  display: grid;
  gap: 10px;
  margin: 10px 0;
}
.LexicalTheme__layoutItem {
  border: 1px dashed #ddd;
  padding: 8px 16px;
  min-width: 0;
  max-width: 100%;
}
.LexicalTheme__autocomplete {
  color: #ccc;
}
.LexicalTheme__hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}
.LexicalTheme__hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}
.LexicalTheme__hr.LexicalTheme__hrSelected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.LexicalTheme__specialText {
  background-color: yellow;
  font-weight: bold;
}
