.RichTextEditor {
  border: 1px solid #ced4da;
  padding: 4px 10px;
}

.RichTextEditor .codex-editor__redactor {
  padding-bottom: 150px !important;
}

.RichTextEditor .ce-inline-toolbar {
  min-width: 155px;
}

.RichTextEditor .ce-header {
  margin-top: 20px;
}

.RichTextEditor .ce-block:first-of-type .ce-header {
  margin-top: 0;
}

.RichTextEditor .cdx-list__item {
  padding-top: 0;
  padding-bottom: 0;
}

.RichTextEditor .image-tool__image {
  margin-bottom: 0;
}

.RichTextEditor .image-tool__image-picture {
  background: #f5f5f5;
  border: 1px solid #dedede;
  aspect-ratio: 16/9;
  width: 100%;
  padding: 10px;
  object-fit: contain;
  object-position: center;
}

.RichTextEditor .image-tool__image::after {
  content: 'Image alt text';
  display: block;
  margin-top: 6px;
  font-weight: 500;
}

.RichTextEditor .image-tool__caption {
  font-family: inherit;
  border: 1px solid #ced4da;
  padding: 8px 10px;
  margin-top: 4px;
}

.RichTextEditor .ce-rawtool::before {
  content: 'WARNING: Use raw HTML with caution.';
  display: block;
  color: red;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 10px;
  font-style: italic;
}

.RichTextEditor .ce-inline-tool[data-tool="superscript"] svg {
  padding: 2px;
}
