@use 'breakpoints';
@use 'tokens';
@use 'type';

.hero {
  padding: 100px var(--content-padding) 60px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  @include breakpoints.laptop-gt {
    padding: 120px var(--content-padding) 80px;
  }
}

.heroContent {
  max-width: 600px;
}

.heroEyebrow {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.heroTitle {
  @include type.font(56px, 70px, 'bold');
  margin: 0;
  color: #332F37;
  @include breakpoints.tablet-lt {
    @include type.font(38px, 46px, 'bold');
  }
}

.heroBody {
  @include type.font(21px, 32px, 'regular');
  margin-top: 16px;
  color: #65626A;
  @include breakpoints.tablet-lt {
    @include type.font(18px, 28px, 'regular');
  }
}

.heroButtons {
  margin-top: 36px;
  display: flex;
  gap: 24px;
}

.alphaTag {
  border: 2px solid #000000;
  // border-image-slice: 1;
  // border-image-source: ;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  // background: ${TOKENS.color.white};
  padding: 4px 12px;
  border-radius: 4px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.buttonFilled {
  @include type.font(16px, 24px, 'bold');
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  background: #332F37;
  color: #FFFFFF;
  text-decoration: none;
}

.buttonOutlined {
  @include type.font(16px, 24px, 'bold');
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid #332F37;
  background: transparent;
  color: #332F37;
  text-decoration: none;
}

.heroBg {
  position: absolute;
  top: -60px;
  left: calc(50% + 150px);
  filter: blur(72px);
}

.heroBgShape {
  border-radius: 50%;
  background: linear-gradient(-45deg, #86b91a60 30%, #edd53260);
  width: 500px;
  height: 500px;
  max-height: 100%;
  @include breakpoints.tablet-lt {
    width: 300px;
    height: 300px;
  }
}

.features {
  padding: 0 var(--content-padding);
}

.features :global(.container) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  @include breakpoints.tablet-lt {
    grid-template-columns: 1fr;
  }
}

.featureCard {
  background: #F9F9F9;
  border-radius: 16px;
  padding: 24px;
}

.featureCardTitle {
  @include type.font(18px, 24px, 'bold');
}

.featureCardBody {
  @include type.font(16px, 24px, 'regular');
  margin-top: 16px;
}

// .alphaTagText {
//   // background: ${TOKENS.gradient};
//   // -webkit-background-clip: text;
//   // -webkit-text-fill-color: transparent;
//   // background-clip: text;
//   // text-fill-color: transparent;
// }
