@use 'breakpoints';

.content {
  padding: 60px 0 120px;
  max-width: 800px;
  margin: 0 auto;
  @include breakpoints.lg-gt() {
    padding-bottom: 200px;
  }
}

.headline {
  text-wrap: pretty;
  margin-bottom: 40px;
}

.headlineLink {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-underline-offset: 6px;
  }
}

.headlinePublishDate {
  margin-top: 10px;
}

.sectionTitle {
  margin-top: 40px;
  margin-bottom: 20px;
}

.body,
.sectionBody {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin-top: 10px;
  }

  a:not([class]) {
    text-underline-offset: 4px;
  }

  code {
    display: inline-block;
    border: 1px solid #DADCE0;
    background: #F8F9FA;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 13px;
  }

  :global(.CodeBlock) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  :global(.ImageBlock) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
