.signin {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.signin__card {
  background: #FFFFFF;
  border-radius: 12px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 150px 24px;
}

.signin__card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.signin__card__header__icon {
  padding: 12px;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin__card__header__icon svg {
  display: block;
  margin-top: -6px;
}

.signin__button {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #1a73e8;
  border: 0;
  border-radius: 2px;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.25px;
  justify-content: center;
  line-height: 1.625;
  padding: 8px 48px;
  text-decoration: none;
  gap: 16px;
}

.signin__button__icon {
  width: 32px;
  height: 32px;
  background-color: white;
  padding: 4px;
}
