.signin {
  font-family: 'Google Sans', arial, sans-serif;
  text-align: center;
  padding: 48px 20px;
  color: #3c4043;
}

.signin__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}

.signin__button {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 8px 11px;
  background: white;
  border: 1px solid #dadce0;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  padding: 0 12px;
  height: 40px;
  box-sizing: border-box;
  transition: all 0.218s ease;
}

.signin__button:hover {
  border-color: #d2e3fc;
  background-color: rgba(66, 133, 244, 0.04);
}

.signin__button__icon {
  width: 18px;
  height: 18px;
  background-color: white;
}

.signin__button__label {
  font-size: 14px;
  line-height: 1;
  letter-spacing: .25px;
  font-weight: 500;
  color: #3c4043;
}
