.FileField {
  border: 1px solid #ced4da;
  padding: 10px;
  position: relative;
}

.FileField:has(.dragging) {
  border: 1px solid #eebefa;
}

.FileField:has(.dragging) .FileField__Dropzone,
.FileField:has(.dragging) .FileField__Canvas {
  background-color: #f3d9fa;
}

.FileField:has(.FileField__Canvas) {
  padding: 0;
}

.FileField__Empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.FileField__Preview {
  padding: 10px;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.FileField__Preview__InfoButton {
  pointer-events: all;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.FileField__Preview__InfoButton__Icon {
  color: #333;
  background-color: white;
}

.FileField__Preview__InfoButton__Icon:hover {
  background-color: #efefef;
}

.FileField__reupload {
  pointer-events: all;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
}

.FileField__Canvas--infoOpened .FileField__reupload {
  display: none;
}

.FileField__Preview:has(.FileField__Canvas) {
  padding: 0;
}

.DocEditor__ImageField__imagePreview__Image__Alt {
  padding: 8px;
  border-top: 1px solid #ced4da;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.DocEditor__ImageField__imagePreview__Image__Alt__Textarea {
  pointer-events: all;
  flex: 1;
}

.DocEditor__ImageField__imagePreview__Image__Alt__Textarea textarea {
  padding: 4px 10px;
}


.DocEditor__ImageField__imagePreview__Image__Alt__AiButton {
  pointer-events: all;
  position: relative;
  z-index: 2;
}

.FileField__Preview__Info {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  padding: 2px 5px;
  pointer-events: all;
  z-index: 1;
}

.FileField__Preview__Actions__Trash {
  pointer-events: all;
}

.FileField__Canvas__Info {
  pointer-events: all;
  background-color: #fafafa;
  padding: 40px 10px 10px;
  height: 100%;
  overflow: auto;
}

.FileField__Canvas__Info__Icon {
  position: absolute;
  top: 12px;
  left: 10px;
}

.FileField__Canvas__InfoTable {
  border-radius: 2px;
  background-color: white;
}

.FileField__Canvas__InfoTable td {
  padding: 5px;
  vertical-align: top;
}

.FileField__Canvas__InfoTable textarea {
  padding: 5px;
}

.FileField__Canvas {
  aspect-ratio: var(--canvas-aspect-ratio, 16 / 9);
  background-color: var(--canvas-bg-color, #fff);
  max-height: var(--canvas-max-height, 280px);
  min-height: 80px;
  position: relative;
  width: 100%;
}

.FileField__Canvas:has(video) {
  background-color: var(--canvas-bg-color, #000);
}

.FileField__Canvas--infoOpened {
  max-height: unset;
  aspect-ratio: unset;
}

.FileField__Canvas.dragging {
  background-color: #f3d9fa;
}

.FileField__Preview__Image {
  margin: 0 auto;
  width: var(--canvas-asset-width, 100%);
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  pointer-events: all;
}

.FileField__Preview__Actions {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.FileField__Dropzone {
  appearance: none;
  border: 0;
  background: #fafafa;
  padding: 0;
  position: absolute;
  inset: 0;
}

.FileField__InvisibleDropzone {
  display: contents;
}

.FileField__Dropzone:focus {
  outline: 1px solid rgb(51, 154, 240);
}

.FileField__Dropzone.dragging {
  background-color: #f3d9fa;
}

.FileField__Empty:focus {
  outline: 1px solid rgb(51, 154, 240);
}

.FileField__Empty__Label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.FileField__FileUploadButton {
  font-size: 12px;
}

.FileField__FileUploadButton--compact {
  padding: 2px 6px;
  gap: 6px;
  font-size: 12px;
}

.FileField__FileUploadButton--compact .mantine-Button-leftIcon {
  margin-right: 6px;
}

.FileField__Empty__AcceptTypes {
  font-size: 10px;
  display: inline;
  position: relative;
  z-index: 1;
}
