@layer template {
  .headline {
    text-align: center;
  }

  .eyebrow {
    margin-bottom: 10px;
  }

  .title,
  .body {
    text-wrap: pretty;
  }

  .body {
    max-width: 75ch;
    margin: 20px auto 0;
  }

  .buttons {
    margin-top: 30px;
  }
}

.title\:text-wrap-balance {
  .title {
    text-wrap: balance;
  }
}
