.DocDiffViewer {
  --color-green: #dafbe1;
  --color-green-line-no: #d1f8d9;
  --color-green-highlight: #aceebb;
  --color-red: #ffebe9;
  --color-red-line-no: #ffcecb;
  --color-red-highlight: #ff818266;
  --color-json-key: #0550ae;
  font-family: var(--font-family-mono);
}

.DocDiffViewer--loading {
  padding: 24px;
}

.DocDiffViewer__aiSummary {
  margin-bottom: 8px;
}

.DocDiffViewer__expand {
  padding: 4px 8px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.DocDiffViewer__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f9fa;
  border-bottom: 1px solid var(--color-border);
}

.DocDiffViewer__header__label {
  font-size: 11px;
  font-weight: 700;
  padding: 8px;
}

.DocDiffViewer__header__label:last-child {
  border-left: 1px solid var(--color-border);
}

.DocDiffViewer {
  --color-green: #dafbe1;
  --color-green-line-no: #d1f8d9;
  --color-green-highlight: #aceebb;
  --color-red: #ffebe9;
  --color-red-line-no: #ffcecb;
  --color-red-highlight: #ff818266;
  --color-json-key: #0550ae;
  font-family: var(--font-family-mono);
}

.DocDiffViewer__expand {
  padding: 4px 8px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.DocDiffViewer__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f9fa;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}

.DocDiffViewer__header__label {
  padding: 8px;
}

.DocDiffViewer__header__label:last-child {
  border-left: 1px solid var(--color-border);
}

.DocDiffViewer__header__label__title {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 4px;
}

.DocDiffViewer__header__label__meta {
  font-size: 11px;
  color: #636c76;
}

.DocDiffViewer__diff {
  /** Avoid layout shift resulting from loading. */
  min-height: 280px;
}
