.AssetsPage {
  background: var(--page-background);
  padding: var(--page-padding-lg);
  min-height: 100%;
}

.AssetsPage__header {
  margin-bottom: 30px;
}

.AssetsPage p {
  margin-top: 8px;
  max-width: 600px;
}

.AssetsPage__browser {
  max-width: 960px;
}
