.DataPage {
  padding: 60px;
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  overflow: auto;
}

.DataPage__header {
  margin-bottom: 40px;
}

.DataPage p {
  margin-top: 8px;
  max-width: 70ch;
}

.DataPage__header__buttons {
  margin-top: 20px;
}

.DataPage__DataSourcesTable__colWithButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}
