.DataPage {
  padding: 60px;
}

.DataPage__header {
  margin-bottom: 40px;
}

.DataPage p {
  margin-top: 8px;
  max-width: 70ch;
}

.DataPage__header__buttons {
  margin-top: 20px;
}

.DataPage__DataSourcesTable table {
  border: 1px solid #dee2e6;
}

.DataPage__DataSourcesTable th:not(:first-child),
.DataPage__DataSourcesTable td:not(:first-child) {
  border-left: 1px solid #dee2e6;
}

.DataPage__DataSourcesTable th,
.DataPage__DataSourcesTable td {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DataPage__DataSourcesTable__url {
  display: flex;
  align-items: center;
  gap: 6px;
}

.DataPage__DataSourcesTable__url__text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
