.DocumentPage__side {
  max-height: calc(100vh - 48px);
  overflow: auto;
}

.DocumentPage__side__header {
  font-weight: 600;
  font-size: 12px;
  padding: 4px 12px 4px 4px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  gap: 4px;
}

.DocumentPage__side__header__back {
  color: var(--color-text-default);
}

.DocumentPage__side__editor {
  padding: 8px 12px;
}

.DocumentPage__main {
  padding: 12px;
}
