.DocumentPage {
  --top-bar-height: 36px;
}

.DocumentPage__side {
  max-height: calc(100vh - 48px);
  overflow: auto;
  /** Prevent details elements from pushing the page contents _upwards_ when opened. */
  overflow-anchor: none;
}

.DocumentPage__side--expanded {
  flex: 1 !important;
  max-width: none !important;
}

.DocumentPage__side--expanded + .SplitPanel__divider {
  display: none !important;
}

.DocumentPage__side--expanded + .SplitPanel__divider + .DocumentPage__main--hidden {
  display: none !important;
}

.DocumentPage__side__header {
  font-weight: 600;
  font-size: 12px;
  padding: 0 4px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: var(--top-bar-height);
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.DocumentPage__side__header__nav {
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
}

.DocumentPage__side__header__back {
  color: var(--color-text-default);
}

.DocumentPage__side__header__docId {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DocumentPage__side__header__buttons {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 2px;
}

.DocumentPage__side__header__saveButton {
  margin-right: 8px;
  min-width: 72px;
}

.DocumentPage__side__editor {
  padding: 16px 16px 400px;
}

.DocumentPage__side__editor--centered {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.DocumentPage__side__editor--centered > * {
  width: 100%;
  max-width: 800px;
}

.DocumentPage__main {
  width: 100%;
}

.DocumentPage__main--hidden {
  display: none;
}

.DocumentPage__main__preview {
  height: calc(100% - var(--top-bar-height));
}

.DocumentPage__main__previewFrame {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.DocumentPage__main__previewFrame__iframeWrap {
  width: calc(var(--iframe-width, 100%) * var(--iframe-scale, 1));
  height: calc(var(--iframe-height, 100%) * var(--iframe-scale, 1));
  position: relative;
  transform: scale(var(--iframe-scale));
  transform-origin: 0 0;
}

.DocumentPage__main__previewFrame iframe {
  border: none;
  box-sizing: content-box;
  width: var(--iframe-width, 100%);
  height: var(--iframe-height, 100%);
  max-width: none;
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background: #ffffff;
  transform-origin: 0 0;
}

.DocumentPage__main__previewFrame[data-device="full"] .DocumentPage__main__previewFrame__iframeWrap {
  width: 100%;
  height: 100%;
}

.DocumentPage__main__previewFrame[data-device="full"] iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}

.DocumentPage__main__previewFrame__deviceLabel {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}
