@use 'breakpoints';
@use 'tokens';

.content {
  padding: 60px 0 120px;
  max-width: 800px;
  margin: 0 auto;
  @include breakpoints.lg-gt() {
    padding-bottom: 200px;
  }
}

.headline {
  margin-bottom: 40px;
}

.headlinePublishDate {
  margin-top: 10px;
}

.body {
  h2 {
    margin-top: 40px;
  }

  .block\:ImageBlock {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
