.TranslationsPage {
  padding: 60px;
}

.TranslationsPage__header {
  margin-bottom: 40px;
}

.TranslationsPage__header__buttons {
  margin-top: 12px;
}

.TranslationsPage__TranslationsTable {
  display: inline-block;
  width: auto;
  max-width: 100%;
  overflow: auto;
}

.TranslationsPage__TranslationsTable__idCell {
  display: flex;
  gap: 4px;
  align-items: center;
}

.TranslationsPage__TranslationsTable td[data-string-cell="true"] {
  min-width: 250px;
}
