.EditReleasePage {
  padding: 60px;
  padding-top: 48px;
}

.EditReleasePage__header {
  max-width: 600px;
  margin-bottom: 20px;
}

.EditReleasePage__header p {
  margin-top: 8px;
  max-width: 70ch;
}

.EditReleasePage__header__breadcrumbs {
  font-size: 12px;
  margin-bottom: 12px;
}

.EditReleasePage__header__breadcrumbs a {
  font-weight: 500;
  text-underline-offset: 4px;
}

.EditReleasePage__header__titleWrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.EditReleasePage__header__controls {
  display: flex;
  align-items: center;
}

.EditReleasePage__header__controls .mantine-Tooltip-root {
  width: 28px;
  height: 28px;
}

.EditReleasePage__header__controls a {
  display: flex;
}
