@use 'tokens';

.shell {
  padding: 0;
}

.resizePanel {
  height: calc(100vh - #{tokens.$nav-size});
}

.leftPanelGroup {
  width: 100%;
}

.tabs {
  width: 100%;
}

.tabControl {
  padding: 10px;
}

.tabsList {
  justify-content: flex-end;
  padding: 0 12px;
}

.tabContent {
  padding: 10px 12px;
}

.rightPanelContainer {
  width: 100%;
}

.breadcrumbs a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
  &:hover {
    border-bottom: 1px solid black;
  }
}

.breadcrumbText {
  font-weight: 700;
}
