@use 'tokens';

.shell {
  padding: 0;
}

.resizePanel {
  height: calc(100vh - #{tokens.$nav-size});
}

.leftPanelGroup {
  width: 100%;
}

.tabs {
  width: 100%;
}

.tabControl {
  padding: 10px;
}

.tabsList {
  justify-content: flex-end;
  padding: 0 12px;
}

.tabContent {
  padding: 10px 12px;
}

.rightPanelContainer {
  width: 100%;
}

.breadcrumbs a {
  text-decoration: none;
  padding: 4px 12px;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: -10px;
  margin-right: -10px;
  &:hover {
    background-color: #f8f9fa;
  }
}

.breadcrumbText {
  font-weight: 700;
}
