# These values are stored in Google Secrets Manager. To download these values, run `pnpm predev`.
COOKIE_SECRET=
GAPI_API_KEY=
GAPI_CLIENT_ID=

# Used for translation service integration.
CROWDIN_API_TOKEN=
DEEPL_API_KEY=
