@use 'breakpoints';
@use 'tokens';

.codeBlock {
  display: block;
  position: relative;
}

.codeBlock pre {
  border-radius: 8px;
  border: 1px solid tokens.$color-grey-300;
  background: tokens.$color-grey-50;
  font-family: var(--font-family-mono);
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 16px;
  height: 100%;
  white-space: pre-wrap;
}

.language {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 12px;
  line-height: 1;
  color: tokens.$color-grey-600;
}
