@use 'tokens';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: tokens.$header-z-index;
  // backdrop-filter: saturate(50%) blur(8px);
  // background: rgba(255, 255, 255, .7);
  padding: 0 var(--content-padding);
  display: flex;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    gap: 24px;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  li {
    display: block;
  }

  a {
    text-decoration: none;
    color: #000000;
    display: block;
  }
}

.links {
  a {
    border-radius: 4px;
    padding: 8px 12px;
  }

  a:hover {
    background: rgba(243, 243, 243, 0.5);
  }
}

.divider {
  height: 24px;
  width: 1px;
  background: rgba(60, 60, 60, 0.12);
}

.social {
  svg {
    width: 24px;
    height: 24px;
  }
}
