.LogsPage {
  padding: 60px;
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  overflow: auto;
}

.LogsPage__header {
  margin-bottom: 30px;
}

.LogsPage p {
  margin-top: 16px;
  max-width: 600px;
}
