.TranslationsArbPage {
  padding: 60px;
  padding-top: 48px;
}

.TranslationsArbPage__header {
  max-width: 600px;
}

.TranslationsArbPage__header__breadcrumbs {
  font-size: 12px;
  margin-bottom: 12px;
}

.TranslationsArbPage__header__breadcrumbs a {
  font-weight: 500;
  text-underline-offset: 4px;
}

.TranslationsArbPage__header p {
  margin-top: 4px;
}

.TranslationsArbPage__RequestForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.TranslationsArbPage__RequestForm__textareaWrapper {
  max-width: 600px;
}

.TranslationsArbPage__RequestForm__submit {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: sticky;
  top: -48px; /* Same as page padding. */
  padding: 8px 0;
}

.TranslationsArbPage__RequestForm__error {
  color: red;
}

.TranslationsArbPage__Preview__table__row {
  border-top: 1px solid var(--color-border);
}
