.ReleaseForm {
  font-size: 14px;
  max-width: 650px;
  position: relative;
}

.ReleaseForm__type {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ReleaseForm__type__label {
  font-size: 14px;
  font-weight: 600;
}

.ReleaseForm__input {
  margin-top: 16px;
}

.ReleaseForm__input__example {
  font-size: 12px;
  margin-top: 12px;
}

.ReleaseForm__input__example code {
  background: #efefef;
  padding: 4px;
  margin-left: 4px;
  font-weight: 500;
}

.ReleaseForm__docSelectButton {
  margin-top: 10px;
}

.ReleaseForm__submit__buttons {
  margin-top: 60px;
  display: flex;
  gap: 12px;
}

.ReleaseForm__error {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: red;
}

.ReleaseForm__DocPreviewCards {
  margin: 20px 0;
}

.ReleaseForm__DocPreviewCards__card {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid var(--color-border);
}

.ReleaseForm__DocPreviewCards__card:first-child {
  border-top: 1px solid var(--color-border);
}

.ReleaseForm__DocPreviewCards__card__preview {
  flex: 1;
}

.ReleaseForm__DocPreviewCards__card__controls {
  display: flex;
  gap: 2px;
  padding-top: 8px;
}
