.DataNewPage {
  padding: 60px;
  padding-top: 48px;
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  overflow: auto;
}

.DataNewPage__header {
  max-width: 600px;
  margin-bottom: 20px;
}

.DataNewPage__header p {
  margin-top: 8px;
  max-width: 70ch;
}

.DataNewPage__header__breadcrumbs {
  font-size: 12px;
  margin-bottom: 12px;
}

.DataNewPage__header__breadcrumbs a {
  font-weight: 500;
  text-underline-offset: 4px;
}

.DataNewPage__form {
  font-size: 14px;
  max-width: 650px;
}

.DataNewPage__form__type {
  display: flex;
  gap: 8px;
  align-items: center;
}

.DataNewPage__form__type__label {
  font-size: 14px;
  font-weight: 600;
}

.DataNewPage__form__input {
  margin-top: 16px;
}

.DataNewPage__form__submit {
  margin-top: 30px;
}

.DataNewPage__form__error {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: red;
}
